* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #262626 transparent;
}

@font-face {
    font-family: 'Geis';
    src: url('./font/Geist-Regular.otf') format('opentype');
}

:root {
    --fbackground: #b5b3ad;
    --white-color: #fffefe;
    --cor-p1-hover: #0B0B0B;
}

::selection {
    background-color: #043b36; /* Cor de fundo mais clara */
    color: #14d2dc; /* Cor de texto mais escura */
}

body {
    /* background: rgb(17,17,17);
    background: linear-gradient(90deg, rgba(17,17,17,1) 43%, rgba(38,7,29,1) 50%, rgba(17,17,16,1) 56%); */
    background: #111111;
    color: aliceblue;
    font-family: 'Geis', serif;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 12px;
}

h1,
h2 {
    font-size: 1.2rem;
    line-height: 1;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--fbackground);
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

.mr-top-10 {
    margin-top: 10px;
}

/* .header-bg {
    background: #243c3d;
    max-width: 780px;
    margin: auto;
    margin-top: 85px;
    box-shadow: inset 125px 0 #132628;
    border-radius: 10px;
}

.header {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 0 20px;
}

.header img {
    max-width: 220px;
    padding: 20px 10px;
}

.header h2 {
    font-size: 1.5rem;
}

.header p {
    display: inline-block;
    padding: 9px;
    background: #274648;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 0.9rem;
}

.media-social {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.media-social li {
    background:#274648;
    border-radius: 15px;
    color: white;
    align-items: center;
}

.media-social a {
    padding: 11px 11px 8px 11px;
    display: inline-block;
}

.media-social .wpp:hover {
    color: #4EC559;
}

.media-social .git:hover {
    color: black;
}

.media-social .linkedin:hover {
    color: #0A78B5;
}

.media-social .insta:hover {
    color: #C72480;
}

.media-social ion-icon {
    width: 20px;
    height: 20px;
} */

main {
    margin: 0 auto;
    max-width: 680px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 6rem;
}

.contanier-one {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-dif {
    font-size: 1rem;
    color: var(--fbackground);
}

.contanier-one h1 {
    margin-bottom: 5rem;
}

/* Segunda secão */

.contanier-to {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
}

.sec-more {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    align-items: baseline;
}

.sec-more h2 a {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--fbackground);
    transition: 0.3s ease-in-out;
}

.sec-more h2 a:hover {
    color: rgba(255, 255, 255, 0.875);
}

.sec-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 4rem;
}

.icons {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.icons span a {
    color: var(--white-color);
}

.icons ion-icon {
    width: 25px;
    height: 25px;
    transition: 0.3s ease-in-out;
}

.icons .wpp:hover {
    color: #4EC559;
}

.icons .git:hover {
    color: #677483;
}

.icons .linkedin:hover {
    color: #0A78B5;
}

.icons .insta:hover {
    color: #C72480;
}

.text-cham {
    margin-top: 65px;
    text-align: center;
}

.text-cham p {
    font-size: 0.85rem;
    margin-bottom: 15px;
}

.text-cham a {
    position: relative;
    font-size: 1.9rem;
}

.text-cham a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    top: 44px;
}

.text-cham a {
    color: var(--white-color);
}

.caract {
    display: inline-block;
    font-size: 1.3rem;
    align-items: center;
}

footer {
    padding: 95px 0 25px 0;
    margin: 0 auto;
}

footer h3 {
    font-size: 0.81rem;
    color: var(--fbackground);
    margin-bottom: 4px;
}

.footer-en {
    font-size: 0.81rem;
    color: var(--fbackground);
    text-align: center;
}

/* Estilização da segunda página */

@media (max-width: 700px) {
    main {
        padding: 80px 22px 10px 22px;
    }

    footer h3 {
        font-size: 0.78rem;
    }
}

@media (max-width: 500px) {
    .text-cham a {
        font-size: 1.4rem;
    }
}