* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Geis';
    src: url('Geist-Bold.oft') format('opentype'), url('Geist-Regular.otf') format('opentype');
}

:root {
    --fbackground: #9D9B95;
    --white-color: #fffefe;
}

::selection {
    background-color: #043b36; /* Cor de fundo mais clara */
    color: #14d2dc; /* Cor de texto mais escura */
}

body {
    /* background: rgb(17,17,17);
    background: linear-gradient(90deg, rgba(17,17,17,1) 43%, rgba(38,7,29,1) 50%, rgba(17,17,16,1) 56%); */
    background: rgb(17,17,17);
    background: linear-gradient(90deg, rgba(17,17,17,1) 43%, rgba(14,17,16,1) 50%, rgba(17,17,16,1) 56%);
    color: aliceblue;
    font-family: 'Geis', monospace;
    font-weight: bold;
}


img {
    display: block;
    max-width: 100%;
    border-radius: 12px;
}

h1,
h2 {
    font-size: 1rem;
    line-height: 1;
}

p {
    font-size: 1rem;
    font-weight: 100;
    color: var(--fbackground);
}

a {
    text-decoration: none;
}

main {
    margin: 0 auto;
    max-width: 680px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 6rem;
}

.contanier-one {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-dif {
    font-size: 1rem;
    color: var(--fbackground);
}

.contanier-one h1 {
    margin-bottom: 5rem;
}

/* Segunda secão */

.contanier-to {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 8rem;
}

.sec-more {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    align-items: baseline;
}

.project {
    font-size: 0.9rem;
    color: var(--fbackground);
}

.project a {
    text-decoration: none;
    color: var(--fbackground);
}

.sec-img p {
    font-size: 1rem;
    color: var(--fbackground);
}

.sec-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 4rem;

}

.icons {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.icons span a {
    color: var(--white-color);
}

.icons ion-icon {
    width: 25px;
    height: 25px;
}

.text-cham {
    margin-top: 65px;
}

.text-cham p {
    text-align: center;
    font-size: 0.85rem;
    margin-bottom: 15px;
}

.text-cham h3 {
    position: relative;
    text-align: center;
    font-size: 1.9rem;
}

.text-cham h3::before {
    content: "";
    position: absolute;
    width: 363px;
    height: 3px;
    background: #fff;
    top: 44px;
}

.text-cham h3 a {
    color: var(--white-color);
}

.caract {
    display: inline-block;
    font-size: 1.3rem;
    align-items: center;
}

footer {
    padding: 95px 0 25px 0;
}

footer h3 {
    font-size: 0.81rem;
    color: var(--fbackground);
}

.footer-en {
    font-size: 0.81rem;
    color: var(--fbackground);
}

/* Estilização da segunda página */

@media (max-width: 700px) {
    main {
        padding: 80px 22px 10px 22px;
    }

    .text-cham h3 {
        font-size: 1.4rem;
    }

    .text-cham h3::before {
        content: "";
        position: absolute;
        width: 275px;
        height: 3px;
        background: #fff;
        top: 40px;
    }

    footer h3 {
        font-size: 0.78rem;
    }
}