* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #262626 transparent;
    font-family: "Henny Penny", system-ui;
    font-weight: 800;
    background: #111111;
    color: #fff;
    font-size: 1.8rem;
}

img {
    display: block;
    max-width:100%;
    border-radius: 16px;
}

main {
    margin: 0 auto;
    max-width: 1280px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}

@media (max-width: 500px) {

}